export(coxph.hook)
export(describe.arima)
export(describe.coxph)
export(describe.ei.RxC)
export(param.arima)
export(param.cox.ph)
export(param.ei.RxC)
export(qi.arima)
export(qi.cox.ph)
export(qi.ei.RxC)
export(zelig2arima)
export(zelig2cox.ph)
export(zelig2ei.RxC)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
