export(describe.arima)
export(describe.coxph)
export(describe.ei.RxC)
export(param.arima)
export(param.coxph)
export(param.ei.RxC)
export(qi.arima)
export(qi.coxph)
export(qi.ei.RxC)
export(zelig2arima)
export(zelig2coxph)
export(zelig2ei.RxC)
importFrom(Zelig, describe, param, qi)
